<button class="btn btn-default" {{action "addData"}}>Add Book</button>
<table class="table table-stripped">
  <thead>
    <th>Sl. No</th>
    <th>Book</th>
    <th>Author</th>
  </thead>
  <tbody>
    {{#if print}}
    <tr>
      {{#each model as |lib|}}
      <td>{{lib.SlNo}}</td>
      <td>{{lib.book}}</td>
      <td>{{lib.author}}</td>
      {{/each}}
    </tr>
    {{/if}}
  </tbody>
</table>


{{yield}}
