<h2>{{rental.number}}</h2>
<p>Year:{{rental.year}}</p>
<p>Baja:{{rental.baja}}</p>
{{#if isImageShowing}}
  <p><img src={{rental.image}} alt={{rental.type}} width="500"></p>
  <button {{action "imageHide"}}>Hide image</button>
{{else}}
  <button {{action "imageShow"}}>Show image</button>
{{/if}}
{{yield}}
