
<table class="table table-striped">
  <thead>
    <tr>
      <th>Sl.No</th>
      <th>Name</th>
      <th>User-Id</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#if isDisp}}
      {{#each model as |user|}}
        <tr>
          <td>{{user.no}}</td>
          <td>{{user.name}}</td>
          <td>{{user.rno}}</td>
          <td>
            {{#link-to "user.details" user.no}}Details{{/link-to}}
          </td>
          <td>
            {{#link-to "user.edit"}}Edit{{/link-to}}
          </td>
        </tr>
      {{/each}}
    {{/if}}
  </tbody>
  <div class="container col-md-4">
    <button class="btn btn-success btn-block btn-xs" {{action "disp"}}>Show</button>
  </div>

</table>

{{yield}}
