
<table class="table table-striped">
  <thead>
    <tr>
      <th {{action "save"}}>Sl.No</th>
      <th>Name</th>
      <th>number</th>
    </tr>
  </thead>
  <tbody>
    {{#if isDisp}}
      {{#each model as |user|}}
        <tr>
          <td>{{user.no}}</td>
          <td>{{user.name}}</td>
          <td>{{user.rno}}</td>
        </tr>
      {{/each}}
    {{/if}}
  </tbody>
  <button class="btn btn-success btn-block btn-lg" {{action "disp"}}>Show</button>
</table>

{{yield}}
