<div class="container">
  <form>
    <h4>New book</h4>
    <div class="form-group">
      <label for="book-name">Book Name</label>
      {{input class="form-control" value=book}}
    </div>

    <div class="form-group">
      <label for="author">Author</label>
      {{input class="form-control" value=author}}
    </div>

    <div class="form-group">
      <label for="author">Detail</label>
      {{input class="form-control" value=detail}}
    </div>
    <button class="btn btn-default" {{action "addData"}}>Add Book</button>
  </form>
</div>
{{input-message}}
{{outlet}}
